body {
  background-color: #dce3b3;
}

.fun {
  color: #32a8a8;
  text-align: center;
  font-weight: bold;
}
.highlight {
    color: #42bd71;
    text-weight: bold;
    text-align: center;

}
.emphasize {
  font-size: 30px;
  color: #32a8a8;
}
img {
  float: right;
  width: 75%;
  height: 75%;
  border-radius: 50%;

}
.column {
  width: 300px;
  float: left;
}

.sidebar {
  width: 10%;
  float: left;
  margin: 20px;
  background-color: #42bd71;
  text-align: left;
}

.column {
  width: 300px;
  float: left;
  background-color: ba348b ;
}
.border {
  border: 2px solid green;
  padding: 4px;
  margin: 12px;
  background-color: #b19dd1 ;

}